@using UniversityManagement.Models

@{
    Layout = null;
    List<Student> studentsList = ViewBag.Students;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewResult</title>
    <link href="~/UniversityCSS.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <style>
        label.error {
            color: #8b0000;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">
                <img src="~/Uni_logo.png"/>
            </a>-->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:2640/HomeOfUniversity.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>-->
        </div>
    </div>
</nav>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p><a href="http://localhost:2640/DepartmentSave/DepartmentSave" style="text-decoration: none; font-size: 18px;">Save Department</a></p>
                <p><a href="http://localhost:2640/DepartmentSave/AllDepartmentView" style="text-decoration: none; font-size: 18px;">View All Departments</a></p>
                <p><a href="http://localhost:2640/SaveCourse/SaveCourse" style="text-decoration: none; font-size: 18px;">Save Course</a></p>
                <p><a href="http://localhost:2640/SaveTeacher/SaveTeacher" style="text-decoration: none; font-size: 18px;">Save Teacher</a></p>
                <p><a href="http://localhost:2640/CourseAssign/CourseAssign" style="text-decoration: none; font-size: 18px;">Course Assign</a></p>
                <p><a href="http://localhost:2640/ViewCourseStatics/Index" style="text-decoration: none; font-size: 18px;">View Course</a></p>
                <p><a href="http://localhost:2640/RegisterStudent/Registration" style="text-decoration: none; font-size: 18px;">Register Student</a></p>
                <p><a href="http://localhost:2640/AllocateRoom/Allocate" style="text-decoration: none; font-size: 18px;">Allocate Classrooms</a></p>
                <p><a href="http://localhost:2640/ClassSchedule/ClassScheduleInfo" style="text-decoration: none; font-size: 18px;">View schedule</a></p>
                <p><a href="http://localhost:2640/EnrollCourse/EnrollCourse" style="text-decoration: none; font-size: 18px;">Enroll Course</a></p>
                <p><a href="http://localhost:2640/ResultSave/SaveResult" style="text-decoration: none; font-size: 18px;">Save result</a></p>
                <p><a href="http://localhost:2640/ResultSave/ViewResult" style="text-decoration: none; font-size: 18px;">View result</a></p>
                <p><a href="http://localhost:2640/UnassignAllCourses/UnassignAllCourses" style="text-decoration: none; font-size: 18px;">Unassign Courses</a></p>
                <p><a href="http://localhost:2640/UnAllocation/UnAllocateRoom" style="text-decoration: none; font-size: 18px;">Unallocate rooms</a></p>
            </div>
            <div class="col-sm-8 text-left">
                <fieldset>
                    <legend>View Result</legend>
                </fieldset>
                <div>
                    <form class="form-horizontal" id="ViewResultForm" method="POST">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="RegistrationNo">Registration No:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="RegistrationNo" name="RegistrationNo">
                                    <option value="">--Select Registration No--</option>
                                    @foreach (Student student in studentsList)
                                    {
                                        <option value="@student.RegistrationNo">@student.RegistrationNo</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="StudentName">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="StudentName" name="StudentName" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Email">email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="Email" name="Email" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="DepartmentName">department:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="DepartmentName" name="departmentName" readonly="readonly">
                            </div>
                        </div>
                        <table class="table table-bordered table-responsive table-striped" id="GradeTable">
                            <thead style="font-weight: bold; color: white; background-color: #708090">
                            <tr>
                                <td>Course Code</td>
                                <td>Name</td>
                                <td>Grade</td>
                            </tr>
                            </thead>
                            <tbody id="tableBody"></tbody>
                        </table>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Make PDF</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function() {
        $("#RegistrationNo").change(function() {
            $("#tableBody").empty();
            var registrationNo = $("#RegistrationNo").val();
            var json = { registrationNo: registrationNo };

            $.ajax({
                type: "POST",
                url: '/ResultSave/GetStudentByRegistrationNo',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function(data) {
                    $("#StudentName").val(data.StudentName);
                    $("#Email").val(data.Email);
                    $("#DepartmentName").val(data.DepartmentName);

                }
            });
            $.ajax({
                type: "POST",
                url: '/ResultSave/CoursesResult',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function(data) {
                    $.each(data, function(key, value) {
                        $("#tableBody").append('<tr><td>' + value.CourseCode + '</td><td>' + value.CourseName + '</td><td>' + value.Grade + '</td></tr>');
                    });
                }
            });
        });
        $("#ViewResultForm").validate({
            rules: {
                RegistrationNo: "required"
            },
            messages: {
                RegistrationNo: "Please select a registration no"
            }
        });
    });
</script>
</body>
</html>
