@using UniversityManagement.Models

@{
    Layout = null;
    List<Department> newDepartmentsList = ViewBag.Departments;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <link href="~/UniversityCSS.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <style>
        label.error {
            color: #b22222;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">
                <img src="~/Uni_logo.png"/>
            </a>-->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:2640/HomeOfUniversity.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>-->
        </div>
    </div>
</nav>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p><a href="http://localhost:2640/DepartmentSave/DepartmentSave" style="text-decoration: none; font-size: 18px;">Save Department</a></p>
                <p><a href="http://localhost:2640/DepartmentSave/AllDepartmentView" style="text-decoration: none; font-size: 18px;">View All Departments</a></p>
                <p><a href="http://localhost:2640/SaveCourse/SaveCourse" style="text-decoration: none; font-size: 18px;">Save Course</a></p>
                <p><a href="http://localhost:2640/SaveTeacher/SaveTeacher" style="text-decoration: none; font-size: 18px;">Save Teacher</a></p>
                <p><a href="http://localhost:2640/CourseAssign/CourseAssign" style="text-decoration: none; font-size: 18px;">Course Assign</a></p>
                <p><a href="http://localhost:2640/ViewCourseStatics/Index" style="text-decoration: none; font-size: 18px;">View Course</a></p>
                <p><a href="http://localhost:2640/RegisterStudent/Registration" style="text-decoration: none; font-size: 18px;">Register Student</a></p>
                <p><a href="http://localhost:2640/AllocateRoom/Allocate" style="text-decoration: none; font-size: 18px;">Allocate Classrooms</a></p>
                <p><a href="http://localhost:2640/ClassSchedule/ClassScheduleInfo" style="text-decoration: none; font-size: 18px;">View schedule</a></p>
                <p><a href="http://localhost:2640/EnrollCourse/EnrollCourse" style="text-decoration: none; font-size: 18px;">Enroll Course</a></p>
                <p><a href="http://localhost:2640/ResultSave/SaveResult" style="text-decoration: none; font-size: 18px;">Save result</a></p>
                <p><a href="http://localhost:2640/ResultSave/ViewResult" style="text-decoration: none; font-size: 18px;">View result</a></p>
                <p><a href="http://localhost:2640/UnassignAllCourses/UnassignAllCourses" style="text-decoration: none; font-size: 18px;">Unassign Courses</a></p>
                <p><a href="http://localhost:2640/UnAllocation/UnAllocateRoom" style="text-decoration: none; font-size: 18px;">Unallocate rooms</a></p>
            </div>
            <div class="col-sm-8 text-left">
                <fieldset>
                    <legend>Register student</legend>
                </fieldset>
                <div>
                    <form class="form-horizontal" id="StudentRegistrationForm" method="POST">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="StudentName">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="StudentName" name="StudentName" placeholder="Enter Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Email">email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="ContactNo">Contact Number:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="ContactNo" name="ContactNo" placeholder="Enter Contact number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Date">Date:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Date" name="Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Address">Address:</label>
                            <div class="col-sm-10">
                                <textarea rows="2" cols="2" class="form-control" id="Address" name="Address" placeholder="Enter address"></textarea>
                                @*<input type="text" class="form-control" id="Address" name="Address" placeholder="Enter Contact Address">*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="DepartmentId">department:</label>
                            <div class="col-sm-10">
                                <select id="DepartmentId" name="departmentId" class="form-control">
                                    <option value="">--Select department--</option>
                                    @foreach (Department department in newDepartmentsList)
                                    {
                                        <option value="@department.Id">@department.DepartmentName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Register</button>
                            </div>
                        </div>
                    </form>
                    @if (ViewBag.message != null)
                    {
                        if (ViewBag.message == "Student Registered")
                        {
                            <label class="label-success" style="color: #008000; background-color: white">@ViewBag.message</label>

                        }
                        else
                        {
                            <label class="label-danger" style="color: #a52a2a; background-color: white">@ViewBag.message</label>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript">
    var date = new Date();
    document.getElementById('Date').value = date.toLocaleString("en-US");
</script>
<script>
    $(document).ready(function() {
        $("#StudentRegistrationForm").validate({
            rules: {
                StudentName: "required",
                Email: {
                    required: true,
                    email: true
                },
                ContactNo: {
                    required: true,
                    minlength: 11,
                    maxlength: 15,
                    number: true,
                    min: 1
                },
                Date: "required",
                Address: "required",
                DepartmentId: "required"
            },
            messages: {
                StudentName: "Please enter your name",
                Email: {
                    required: "Please enter an email address",
                    email: "Please enter valid email address"
                },
                ContactNo: {
                    required: "Please enter a phone number",
                    maxlength: "Please enter a 11 digit phone number",
                    number: "Please enter number only"
                },
                Date: "Please select date",
                Address: "Plese enter your address",
                DepartmentId: "Please select a department"
            }
        });
        $(function() {
            $("#Date").datepicker({
                changeMonth: true,
                changeYear: true,
                maxDate: new Date,
                minDate: new Date(2000, 6, 12)
            });
        });
    });
</script>
    <footer class="container-fluid text-center">
        <p>© BugSolver 2016</p>
    </footer>
</body>
</html>
