@using UniversityCourseResultManagementSystem.Models

@{
    Layout = null;
    List<Department> departments = ViewBag.Departments;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClassScheduleInfo</title>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet"/>
    <link href="~/UniversityCSS.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">
                <img src="~/Uni_logo.png"/>
            </a>-->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:2640/HomeOfUniversity.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>-->
        </div>
    </div>
</nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p><a href="http://localhost:2640/DepartmentSave/DepartmentSave" style="text-decoration: none; font-size: 18px;">Save Department</a></p>
                <p><a href="http://localhost:2640/DepartmentSave/AllDepartmentView" style="text-decoration: none; font-size: 18px;">View All Departments</a></p>
                <p><a href="http://localhost:2640/SaveCourse/SaveCourse" style="text-decoration: none; font-size: 18px;">Save Course</a></p>
                <p><a href="http://localhost:2640/SaveTeacher/SaveTeacher" style="text-decoration: none; font-size: 18px;">Save Teacher</a></p>
                <p><a href="http://localhost:2640/CourseAssign/CourseAssign" style="text-decoration: none; font-size: 18px;">Course Assign</a></p>
                <p><a href="http://localhost:2640/ViewCourseStatics/Index" style="text-decoration: none; font-size: 18px;">View Course</a></p>
                <p><a href="http://localhost:2640/RegisterStudent/Registration" style="text-decoration: none; font-size: 18px;">Register Student</a></p>
                <p><a href="http://localhost:2640/AllocateRoom/Allocate" style="text-decoration: none; font-size: 18px;">Allocate Classrooms</a></p>
                <p><a href="http://localhost:2640/ClassSchedule/ClassScheduleInfo" style="text-decoration: none; font-size: 18px;">View schedule</a></p>
                <p><a href="http://localhost:2640/EnrollCourse/EnrollCourse" style="text-decoration: none; font-size: 18px;">Enroll Course</a></p>
                <p><a href="http://localhost:2640/ResultSave/SaveResult" style="text-decoration: none; font-size: 18px;">Save result</a></p>
                <p><a href="http://localhost:2640/ResultSave/ViewResult" style="text-decoration: none; font-size: 18px;">View result</a></p>
                <p><a href="http://localhost:2640/UnassignAllCourses/UnassignAllCourses" style="text-decoration: none; font-size: 18px;">Unassign Courses</a></p>
                <p><a href="http://localhost:2640/UnAllocation/UnAllocateRoom" style="text-decoration: none; font-size: 18px;">Unallocate rooms</a></p>
            </div>
            <div class="col-sm-8 text-left">
                <form id="ClassSchedule" class="form-horizontal" method="POST" action="">

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="departmentId">Department:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="departmentId" name="departmentId">
                                <option value="">Select</option>
                                @foreach (Department department in departments)
                                {
                                    <option value="@department.Id">@department.DepartmentName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <table id="classRoomTable" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Course Code</th>
                                <th>Name</th>
                                <th>ScheduleInfo</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody"></tbody>
                    </table>
                </form>
                <script src="~/Scripts/jquery-3.1.1.js"></script>
                <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
                <script>
                    $(document).ready(function () {
                        var table = $("#classRoomTable").DataTable();
                        $("#classRoomTable").hide();
                        $("#departmentId").change(function () {
                            var deptId = $("#departmentId").val();
                            $("#classRoomTable").show();
                            table.clear().draw(false);
                            //$("#tableBody").empty();
                            // $("#studentId").empty();
                            //$("#studentId").append('<option value="">Select</option>');
                            var json = { departmentId: deptId };
                            $.ajax({
                                type: "POST",
                                @*//url: '@Url.Action("GetStudentsByDepartmentId", "Department")',*@
                                url: '/ClassSchedule/GetClassScheduleByDepartmentId',
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify(json),
                                success: function (data) {
                                    //alert(data);
                                    $.each(data, function (key, value) {
                                        //var ScheduleInfo =
                                        //alert(key);
                                        // $("#studentId").append('<option value="' + value.StudentId + '">' + value.Name + '</option>');
                                        //$("#tableBody").append('<tr><td>' + value.StudentId + '</td><td>' + value.Name + '</td><td>' + value.DepartmentId + '</td></tr>');
                                        table.row.add([
                                            value.CourseCode, value.CourseName, value.ScheduleInfo
                                        ]).draw(false);
                                    });
                                }
                            });
                        });
                    });
                </script>

            </div>
        </div>
    </div>
</body>
</html>
